<header class="site-header">
  <a class="site-title" href="{{ site.baseurl }}/"><div class="tit"><h1>Советы которые помогут Вам улучшить свою игру</h1></div></a>
    
  <nav class="navbar">
    <ul>
      <li class="nav-item"><a href="{{ site.baseurl }}/">Блог</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/about">О нас</a></li>
    </ul>
  </nav>

</header>


<style type="text/css">
	.site-header {
		background-image: url(/imag/казино.jpg);
		background-size: cover;
		background-attachment: fixed;
		background-position: center center;
	}
</style>