<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <main class="wrapper">
      
      {% include header.html %}
<style type="text/css">
	.c1 {
		margin-top: 50px;
    width: 80%!important;
	}
</style>
<div class="container c1">
	<p style="padding-top: 30px; font-size: 18px;">В этом разделе мы собрали всю информацию об онлайн казино. В него включены материалы и статьи, касающиеся игры на деньги в интернете. Здесь вы найдете практические советы по игре в видео-слоты, узнаете о рекордных джекпотах и посмотрите фото выигрышей, снятые с экранов мониторов счастливчиков, получите информацию о рейтинге игорных заведений и частоте выигрышей.</p>
  <p style=" font-size: 18px; font-weight: 500;">По вопросам писисать на <span style="color:#ffa800; font-size: 18px; font-weight: 500;">support@radyoturka.net</span></p>
  <p style="padding-top: 30px; font-size: 18px; font-weight: 500;">Реклама и партнерка <span style="color:#ffa800; font-size: 18px; font-weight: 500;">sales@radyoturka.net</span></p>
  <p style="padding-top: 30px; font-size: 18px; font-weight: 500;">Мой Facebook <a style="color:#ffa800; font-size: 18px; font-weight: 500; text-decoration: none;" href="https://www.facebook.com/dubilet?fref=search&__tn__=%2Cd%2CP-R&eid=ARBP5rcvyiK3bnNoy_RTsVUtibirhv5_fW2dI5f1DJ4L1-3eiBCsnpZvoxD1HTUSo98BBhTIFNzvT95b">Дмитрий Дубилет</a></p>
</div>
          </main>

        <div>{% include footer.html %}</div>
    {% include scripts.html %}
    
  </body>

</html>
