<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <main class="wrapper">
      
      {% include header.html %}
<div class="container">
	<p>В этом разделе мы собрали всю информацию об онлайн казино. В него включены материалы и статьи, касающиеся игры на деньги в интернете. Здесь вы найдете практические советы по игре в видео-слоты, узнаете о рекордных джекпотах и посмотрите фото выигрышей, снятые с экранов мониторов счастливчиков, получите информацию о рейтинге игорных заведений и частоте выигрышей.</p>
</div>
          </main>

        <div>{% include footer.html %}</div>
    {% include scripts.html %}
    
  </body>

</html>
