<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <main class="wrapper">
      
      {% include header.html %}
<style type="text/css">
#call1 {
  text-align: 
}
.callback {
  width: 50%;
  vertical-align: middle;
  display: inline-block;
}
	.c1 {
    margin: 0 auto;
    width: 80%!important;
}
</style>
<div class="c1">
	<p style="padding-top: 50px; font-size: 18px;">В этом разделе мы собрали всю информацию об онлайн казино. В него включены материалы и статьи, касающиеся игры на деньги в интернете. Здесь вы найдете практические советы по игре в видео-слоты, узнаете о рекордных джекпотах и посмотрите фото выигрышей, снятые с экранов мониторов счастливчиков, получите информацию о рейтинге игорных заведений и частоте выигрышей.</p>
  <p style=" font-size: 18px; font-weight: 500;">По вопросам писисать на <span style="color:#ffa800; font-size: 18px; font-weight: 500;">support@radyoturka.net</span></p>
  <p style="padding-top: 30px; font-size: 18px; font-weight: 500;">Реклама и партнерка <span style="color:#ffa800; font-size: 18px; font-weight: 500;">sales@radyoturka.net</span></p>
  <p style="padding-top: 30px; font-size: 18px; font-weight: 500;">Мой Facebook <a style="color:#ffa800; font-size: 18px; font-weight: 500; text-decoration: none;" href="https://www.facebook.com/profile.php?id=100024231090988">Иван Демидов</a></p>
  <div id="call1">
  <p style="padding-top: 30px; font-size: 18px; font-weight: 500;">Обратная связь
  <div class="callback">
  <form>
    <input name="name" placeholder="Укажите ваше имя!" class="name" required />
    <input name="emailaddress" placeholder="Укажите ваш Email!" class="email" type="email" required />
    <textarea rows="4" cols="50" name="subject" placeholder="Введите ваше сообщение:" class="message" required></textarea>
    <input name="submit" class="btn" type="submit" value="Отправить" />
</form>
</div>
</div>
</div>
          </main>

        <div>{% include footer.html %}</div>
    {% include scripts.html %}
    
  </body>

</html>
