<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <main class="wrapper">
      
      {% include header.html %}

      <div class="container">
        <div class="cont-des"><h3>В нашем блоге вы найдете массу полезных материалов, которые помогут вам стать более успешным игроком. Вы узнаете о стратегиях и секретах, а также мы расскажем о базовых правилах и методах успешной игры.</h3></div>
        <style type="text/css">
          .cont-des {
            width: 80%;

          }
          .container {
            margin-top: 50px;
            max-width: 80%!important;
          }
          .cont-des h3 {
            font-size: 17px;
            color: #333;
            line-height: 3rem;
          }
    
        </style>
      

        {% include footer.html %}
      </div>
    
    </main>

    {% include scripts.html %}
    
  </body>

</html>
